<!--<h1>welcome to {{title}}</h1>-->
<!--<app-myContainer></app-myContainer>-->
<!--<app-header></app-header>-->
<!--<app-topnav></app-topnav>-->
<!--<app-header></app-header>-->
<!--<app-textsec1></app-textsec1>-->
<!--<app-textsec2></app-textsec2>-->
<!--<app-interpolation></app-interpolation>-->
<!--<app-propertybinding></app-propertybinding>-->
<!--<app-class-style></app-class-style>-->
<!--<app-eventbind></app-eventbind>-->
<!-- <app-two-way></app-two-way> -->
<!--<app-ngif></app-ngif>-->
<!--<app-ngswitch></app-ngswitch>-->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-pushsplice></app-pushsplice> -->
 <header> 
     <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link " routerLinkActive="myActiveClass active"[routerLinkActiveOptions]="{exact:true}" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/about">About Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveClass active" routerLink="/notFound">Not Found</a></li>
        </ul>
    </nav>
</header>
<!--<app-about></app-about>-->
<!-- <app-login></app-login> -->
<!-- <app-page-not-found></app-page-not-found> -->
<router-outlet></router-outlet>