<ion-header>  
  <ion-toolbar>  
    <ion-title>Buttons</ion-title>  
  </ion-toolbar>  
</ion-header>  
<ion-content>  

  <!-- Default -->  
  <ion-button>Default</ion-button>  

  <!-- Expand -->  
  <ion-button expand="full" color="primary">Full Button</ion-button>  
  <ion-button expand="block" color="secondary">Block Button</ion-button>  

  <!-- Round -->  
  <ion-button shape="round" color="warning">Round Button</ion-button>  

  <!-- Fill -->  
  <ion-button expand="full" fill="outline" color="success">Outline Button</ion-button>  
  <ion-button expand="block" fill="clear" color="danger">Clear Button</ion-button>  
</ion-content>  