<div>
    <button mat-button>click me</button>
    <button mat-raised-button>click me</button>
    <button mat-flat-button>click me</button>
    <button mat-stroked-button>click me</button>
</div>

<div>
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Minifab</button>
</div>

<div>
    <button color="primary" mat-button>primary</button>
    <button color="accent" mat-button>accent</button>
    <button color="warn" mat-button>warn</button>
    <button color="primary" mat-raised-button>primary</button>
    <button color="accent" mat-raised-button>accent</button>
    <button color="warn" mat-raised-button>warn</button>
</div>

    <!-- toggle -->
<!-- <div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="angular">Angular</mat-button-toggle-group>
        <mat-button-toggle value="javascript">javascript</mat-button-toggle-group>
        <mat-button-toggle value="typescript">Typescript</mat-button-toggle-group>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div> -->

