/*.nav{
    background-color:blue;
}*/
/* 
.class{
   background-color: rgba(179, 18, 18, 0.829);
  color: #8920c527;
}
*/
body{
    
   /* background-image: url('../css/img/bg.jpg');
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: fixed; */
    background-color: aquamarine;
    margin:0;
}
.nav{
    background: #1a7a37;
}
.items{
    background: #0d0368;
}
.item{
    background: #d81154;
}

.class{
   /* border-style:dashed;
    border-width: 2px;
    border-color: red;*/
    border: 5px solid green;
    border-radius: 18px;
    /*margin:38px 35px 54px 0px ;*/
    margin:10px;
    padding:50px;
    width:50%;
    height:200px;
    outline: 4px solid black;
    color:blue;
    text-align: right;
    font-family:sans-serif;
    font-style: italic;
    font-size: 15px;

}