<ion-header translucent>  
  <ion-toolbar color="danger">  
    <ion-title>Ionic FAB</ion-title>  
  </ion-toolbar>  
</ion-header>  
  
<ion-content class="ion-padding" color="light">  
  <ion-fab vertical="center" horizontal="center" slot="fixed">  
    <ion-fab-button>  
      <ion-icon name="share"></ion-icon>  
    </ion-fab-button>  
    <ion-fab-list side="top">  
      <ion-fab-button><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>  
    </ion-fab-list>  
    <ion-fab-list side="bottom">  
      <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>  
    </ion-fab-list>  
    <ion-fab-list side="start">  
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>  
    </ion-fab-list>  
    <ion-fab-list side="end">  
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>  
    </ion-fab-list>  
  </ion-fab>  
  
</ion-content>  