<div class="page-area">
     <h2>HOME</h2>
     <p>Television (TV), sometimes shortened to tele or telly,
          is a telecommunication medium used for transmitting moving
         images in monochrome (black and white), or in color,
          and in two or three dimensions and sound. The term can refer to
         a television set, a television show, or the medium of television transmission. 
         Television is a mass medium foradvertising, entertainment, news, and sports.</p>

     </div>