<div class="page-area">
    <div class="text-center">
        <h2>Buy PRODUCTS</h2> 
    </div>
    <div class="alert alert-light border d-flex align-items-center" *ngIf="addedProduct">
        <strong class="text-success">{{addedProduct}}</strong> &nbsp;is selected and Added in a card
        <button class="btn btn-success ml-auto">Checkout</button>
    </div>
    <hr class="col-md-3">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img src="../../assets/Image/laptop-img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    
                    <button class="btn btn-success" (click)="onSelectProduct('Laptop')">select this product</button>
                </div>
                <div class="card">
                    <img src="../../assets/Image/mobile-img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mobile</h5>
                        
                        <button class="btn btn-success" (click)="onSelectProduct('Mobile')">select this product</button>
                    </div>
                    <div class="card">
                        <img src="../../assets/Image/tv-img.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tv</h5>
                            <button class="btn btn-success" (click)="onSelectProduct('Tv')">select this product</button>
                        </div>
                        <div class="card">
                            <img src="../../assets/Image/washingmachine-img.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Washing Machine</h5>
                                <button class="btn btn-success" (click)="onSelectProduct('Washing Machine')">select this product</button>
                            </div>
                    </div>
                </div>
                
                <app-child [placeholderText]="'Search in uxtrendz..'"></app-child>
                <div class="col-md-12 bg-success text-white text-center py-8">
                    <h2 *ngIf="!productSelected">please select any products</h2>
                    <h2 *ngIf="productSelected">{{selectedProduct}} is selected</h2>
                    <button class="btn" (click)="onAddProduct()">Add to card</button>
                </div>
            </div>
        </div>
