<div class="page-area">
    <div class="text-center">
        <h2>PRODUCTS</h2>
        <p>Television (TV), sometimes shortened to tele or telly,
            is a telecommunication medium used for transmitting moving
            images in monochrome (black and white), or in color,
            and in two or three dimensions and sound. The term can refer to
            a television set, a television show, or the medium of television transmission.
            Television is a mass medium foradvertising, entertainment, news, and sports.</p>
    </div>


    <hr class="col-md-3">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <img src="../../assets/Image/laptop-img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Laptop</h5>
                    <p class="card-text">Some quick example text to build on the card title.</p>
                    <a routerLink="laptop" class="btn btn-success">no more</a>
                </div>
                <div class="card">
                    <img src="../../assets/Image/mobile-img.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mobile</h5>
                        <p class="card-text">Some quick example text to build on the card title.</p>
                        <a  routerLink="mobile" class="btn btn-success">no more</a>
                    </div>
                    <div class="card">
                        <img src="../../assets/Image/tv-img.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tv</h5>
                            <p class="card-text">Some quick example text to build on the card title.</p>
                            <a  routerLink="tv" class="btn btn-success">no more</a>
                        </div>
                        <div class="card">
                            <img src="../../assets/Image/washingmachine-img.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Washing Machine</h5>
                                <p class="card-text">Some quick example text to build on the card title.</p>
                                <a  routerLink="washingmachine" class="btn btn-success">no more</a>
                            </div>
                    </div>
                </div>
                <div class="col-md-4 border-left">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
