<ion-header translucent>  
  <ion-toolbar color="danger">  
    <ion-title>Slides</ion-title>  
  </ion-toolbar>  
</ion-header>  
  <!--scroll-y axies scroll -->
<ion-content fullscreen class="ion-padding" scroll-y="false" color="success">  
  <ion-slides pager="true" [options]="slideOpts">  
  
    <ion-slide>  
      <img src="assets/ioniclogo.png"/>  
      <h2>Ionic Framework <b>Ionic Framework</b></h2>  
      <p>is an open source of UI toolkit for building performant</p>  
    </ion-slide>  
  
    <ion-slide>  
      <img src="assets/baby.png"/>  
      <h2>babies</h2>  
      <p><b>cute baby</b>Small baby very cute i like very much</p>  
    </ion-slide>  
  
    <ion-slide>  
      <img src="assets/cat.png"/>  
      <h2>Cat</h2>  
      <p><b>white cat</b>The cat is a domestic species of small carnivorous mammal</p>  
    </ion-slide>  
  
    <ion-slide>  
      <img src="assets/dog.png"/>  
      <h2>Dogs</h2>  
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>  
    </ion-slide>  
  
  </ion-slides>  
</ion-content>  