
<!--<button (click)="onAddCart()">Add to card</button>-->

<!--<p>{{msg}}</p>-->
<!--<br><br>-->
<!--$event reserve variable-->
<!--<input type="text" value="myinput" (click)="onInputClick($event)">-->
<!--<button value="laptop" (click)="onAddCart($event)">laptop</button>-->

<!--<button value="Tv" (click)="onAddCart($event)">Tv</button>-->
<!--<br><br>-->
<!--<button value="washing Machine" (click)="onAddCart($event)">Washing Machine</button>-->
<!--<p>{{msg}}</p>-->
<!--<br><br>-->
<!--template reference-->
<input #inputInfo type="text" value="UXTRENDZ" name="Abha">
<br><br>
<button (click)="getInputInfo(inputInfo)">get Info</button>

