<!--<h1>welcome to {{title}}</h1>-->
<!--<app-myContainer></app-myContainer>-->
<!--<app-header></app-header>-->
<!--<app-topnav></app-topnav>-->
<!--<app-header></app-header>-->
<!--<app-textsec1></app-textsec1>-->
<!--<app-textsec2></app-textsec2>-->
<!--<app-interpolation></app-interpolation>-->
<!--<app-propertybinding></app-propertybinding>-->
<!--<app-class-style></app-class-style>-->
<!--<app-eventbind></app-eventbind>-->
<!--<app-two-way></app-two-way>-->
<!--<app-ngif></app-ngif>-->
<!--<app-ngswitch></app-ngswitch>-->
<app-ng-for></app-ng-for>
