<ion-header>  
  <ion-toolbar>  
    <ion-title>Buttons Icons </ion-title>  
  </ion-toolbar>  
</ion-header>  
  
<ion-content>  
  <!-- Icons -->  
  <div><ion-button>  
      <ion-icon slot="start" name="star" color="success"></ion-icon>  
       Left Icon
  </ion-button></div>  
  
  <div><ion-button>  
      Right Icon  
      <ion-icon slot="end" name="star" color="secondary"></ion-icon>  
  </ion-button></div>  
  
  <div><ion-button>  
      <ion-icon slot="icon-only" name="star" color="warning"></ion-icon>  
  </ion-button></div>  
</ion-content>  